<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HPE_iLO_Data_Gather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <HPE_iLO_Data_Gather.Properties.Settings>
            <setting name="iLOURL" serializeAs="String">
                <value>https://somewhere.example.com/</value>
            </setting>
            <setting name="iLOUsername" serializeAs="String">
                <value>low-privileged-account</value>
            </setting>
            <setting name="iLOPassword" serializeAs="String">
                <value>high-quality-password</value>
            </setting>
            <setting name="JSONOutput" serializeAs="String">
                <value>%APPDATA%\HPE-iLO-Data-Gather.json</value>
            </setting>
            <setting name="FailTestsAtFanPercentage" serializeAs="String">
                <value>50</value>
            </setting>
        </HPE_iLO_Data_Gather.Properties.Settings>
    </applicationSettings>
</configuration>